{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'site/imgs/template/favicon.svg' %}">
    <link href="{% static 'site/css/stylee209.css' %}?v=1.0.0" rel="stylesheet">
    <title>Home 5 - Modern Travel Tour Booking Template</title>
</head>

<body>
    <!--preloader-->
    <!--header-->
    {% include 'site/partials/header.html' %}
    <!--mobile-->
    {% include 'site/partials/mobile.html' %}
    <!--bloc content-->
    {% block content %}

    {% endblock content %}

    <!--Footer-->
    {% include 'site/partials/footer.html' %}
    <!---Popps-->
    <!--Vendors Scripts-->
    <script src="{% static 'site/js/vendor/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'site/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'site/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <!--Other-->
    <script src="{% static 'site/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'site/js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'site/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'site/js/plugins/slick.js' %}"></script>
    <script src="{% static 'site/js/plugins/jquery.carouselTicker.js' %}"></script>
    <script src="{% static 'site/js/plugins/masonry.min.js' %}"></script>
    <script src="{% static 'site/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'site/js/plugins/wow.js' %}"></script>
    <script src="{% static 'site/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'site/js/plugins/counterup.js' %}"></script>
    <script src="{% static 'site/js/plugins/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'site/js/plugins/dark.js' %}"></script>
    <!-- Count down-->
    <script src="{% static 'site/js/vendor/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'site/js/plugins/noUISlider.js' %}"></script>
    <script src="{% static 'site/js/plugins/slider.js' %}"></script>
    <!--Custom script for this template-->
    <script src="{% static 'site/js/maine209.js' %}?v=1.0.0"></script>
</body>

</html>