{% load static %}

<header class="header sticky-bar">
    <div class="top-bar">
        <div class="container-fluid">
            <div class="text-header">
                <div class="text-unlock text-sm-bold">Unlock the Magic of Travel with Travila - Your Gateway to
                    Extraordinary Experiences</div><a class="link-secondary-2" href="#">Get This Now
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16" fill="none">
                        <path d="M7.99992 12.6666L12.6666 7.99992L7.99992 3.33325M12.6666 7.99992L3.33325 7.99992"
                            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></a>
            </div>
        </div>
    </div>
    <div class="container-fluid background-body">
        <div class="main-header">
            <div class="header-left">
                <div class="header-logo"><a class="d-flex" href="index.html"><img class="light-mode" alt="Travila"
                            src="{% static 'site/imgs/template/logo.svg' %}"><img class="dark-mode" alt="Travila"
                            src="{% static 'site/imgs/template/logo-w.svg' %}"></a></div>
                <div class="header-nav">
                    <nav class="nav-main-menu">
                        <ul class="main-menu">
                            <li class="mega-li has-children"><a class="active" href="index.html">Home</a>
                                <div class="mega-menu">
                                    <div class="mega-menu-inner">
                                        <div class="row align-items-center">
                                            <div class="col-lg-10">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-4">
                                                        <p class="text-md-bold mb-10 neutral-1000">Start Your
                                                            Journey</p>
                                                        <h5 class="mb-45 neutral-1000">Book, Pack, Go! Your Ultimate
                                                            Travel Companion</h5><a
                                                            class="btn btn-brand-secondary">Exploring Now
                                                            <svg width="16" height="16" viewbox="0 0 16 16"
                                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M8 15L15 8L8 1M15 8L1 8" stroke="black"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round"> </path>
                                                            </svg></a>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="card-home-link background-body"> <a
                                                                class="card-icon" href="index.html"> <img
                                                                    src="{% static 'site/imgs/template/icons/activity.svg' %}"
                                                                    alt="Travila"></a>
                                                            <div class="card-info"> <a href="index.html">
                                                                    <h6 class="text-md-bold">Home 01 - All Services
                                                                    </h6>
                                                                </a>
                                                                <p class="text-xs-medium neutral-500">Tours,
                                                                    Activities, Destinations, Hotels, Rental,
                                                                    Tickets</p>
                                                            </div>
                                                        </div>
                                                        <div class="card-home-link background-body"> <a
                                                                class="card-icon" href="index-2"> <img
                                                                    src="{% static 'site/imgs/template/icons/map.svg' %}"
                                                                    alt="Travila"></a>
                                                            <div class="card-info"> <a href="index-2">
                                                                    <h6 class="text-md-bold">Home 02 - All Services
                                                                    </h6>
                                                                </a>
                                                                <p class="text-xs-medium neutral-500">Tours,
                                                                    Activities, Destinations, Hotels, Rental,
                                                                    Tickets</p>
                                                            </div>
                                                        </div>
                                                        <div class="card-home-link background-body"> <a
                                                                class="card-icon" href="index-3"> <img
                                                                    src="{% static 'site/imgs/template/icons/deck-chair.svg' %}"
                                                                    alt="Travila"></a>
                                                            <div class="card-info"> <a href="index-3">
                                                                    <h6 class="text-md-bold">Home 03 - All Services
                                                                    </h6>
                                                                </a>
                                                                <p class="text-xs-medium neutral-500">Tours,
                                                                    Activities, Destinations, Hotels, Rental,
                                                                    Tickets</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <ul class="list-featured">
                                                            <li><a class="tours" href="index-4">Home 04 - Tours</a>
                                                            </li>
                                                            <li><a class="activities" href="index-5">Home 05 -
                                                                    Activities</a></li>
                                                            <li><a class="destinations" href="index-6">Home 06 -
                                                                    Destinations</a></li>
                                                            <li><a class="hotels" href="index-7">Home 07 -
                                                                    Hotels</a></li>
                                                            <li><a class="rental-car" href="index-8">Home 08 -
                                                                    Rental Car</a></li>
                                                            <li><a class="property" href="index-9">Home 09 -
                                                                    Property</a></li>
                                                            <li><a class="tickets" href="index-10">Home 10 -
                                                                    Tickets</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2"><img
                                                    src="{% static 'site/imgs/template/world.png' %}"
                                                    alt="Travila"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mega-li-small has-children"><a href="about">Tours</a>
                                <div class="mega-menu">
                                    <div class="mega-menu-inner mega-menu-inner-small">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h6 class="text-lg-bold neutral-1000">Tours Listing</h6>
                                                <ul class="sub-menu">
                                                    <li><a href="tour-grid-3">Tours List - Top Fillter</a></li>
                                                    <li><a href="tour-grid">Sidebar Left Fillter</a></li>
                                                    <li><a href="tour-grid-2">Sidebar Right Fillter</a></li>
                                                    <li><a href="tour-list">Tours List - List 1</a></li>
                                                    <li><a href="tour-list-2">Tours List - List 2</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6">
                                                <h6 class="text-lg-bold neutral-1000">Tour Details</h6>
                                                <ul class="sub-menu">
                                                    <li><a href="tour-detail">Tour Single 01 - Gallery</a></li>
                                                    <li><a href="tour-detail-2">Tour Single 02 - Slideshow</a></li>
                                                    <li><a href="tour-detail-3">Tour Single 03 - Video</a></li>
                                                    <li><a href="tour-detail-4">Tour Single 04 - Image</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mega-li-small has-children"><a href="404">Destinations</a>
                                <div class="mega-menu">
                                    <div class="mega-menu-inner mega-menu-inner-small mega-menu-inner-destinations">
                                        <h6 class="text-lg-bold neutral-1000">Destinations</h6>
                                        <ul class="sub-menu">
                                            <li><a href="destination">Destinations list 01</a></li>
                                            <li><a href="destination-2">Destinations list 02</a></li>
                                            <li><a href="destination-3">Destinations list 03</a></li>
                                            <li><a href="destination-4">Destinations Details 01</a></li>
                                            <li><a href="destination-5">Destinations Details 02</a></li>
                                            <li><a href="destination-6">Destinations Details 03</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="has-children"><a href="#">Activities</a>
                                <ul class="sub-menu">
                                    <li> <a href="activities">Activities List 01</a></li>
                                    <li> <a href="activities-2">Activities List 02</a></li>
                                    <li> <a href="activities-3">Activities List 03</a></li>
                                    <li> <a href="activities-4">Activities List 04</a></li>
                                    <li> <a href="activities-5">Activities List 05</a></li>
                                    <li> <a href="activities-detail">Activities Single 01</a></li>
                                    <li> <a href="activities-detail-2">Activities Single 02</a></li>
                                    <li> <a href="activities-detail-3">Activities Single 03</a></li>
                                    <li> <a href="activities-detail-4">Activities Single 04</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="404-2">Hotel</a>
                                <ul class="sub-menu">
                                    <li><a href="hotel-grid">Hotel List 01</a></li>
                                    <li><a href="hotel-grid-2">Hotel List 02</a></li>
                                    <li><a href="hotel-grid-3">Hotel List 03</a></li>
                                    <li><a href="hotel-grid-4">Hotel List 04</a></li>
                                    <li><a href="hotel-grid-5">Hotel List 05</a></li>
                                    <li><a href="hotel-grid-6">Hotel List 06</a></li>
                                    <li><a href="hotel-detail">Hotel Details 01</a></li>
                                    <li><a href="hotel-detail-2">Hotel Details 02</a></li>
                                </ul>
                            </li>
                            <li class="mega-li-small has-children"><a href="#">Rental</a>
                                <div class="mega-menu">
                                    <div class="mega-menu-inner mega-menu-inner-small">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h6 class="text-lg-bold neutral-1000">Cars Rental</h6>
                                                <ul class="sub-menu">
                                                    <li><a href="rental-car">Car Grid</a></li>
                                                    <li><a href="rental-car-2">Car Grid 02</a></li>
                                                    <li><a href="rental-car-3">Car Grid 03</a></li>
                                                    <li><a href="rental-car-4">Car list</a></li>
                                                    <li><a href="rental-detail">Car Details</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6">
                                                <h6 class="text-lg-bold neutral-1000">Property Rental</h6>
                                                <ul class="sub-menu">
                                                    <li><a href="rental-property">Property Grid</a></li>
                                                    <li><a href="rental-property-2">Property Grid 02</a></li>
                                                    <li><a href="rental-property-3">Property List</a></li>
                                                    <li><a href="property-detail">Property Details</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="has-children"><a href="tickets">Tickets</a>
                                <ul class="sub-menu">
                                    <li><a href="tickets">Flight tickets</a></li>
                                    <li><a href="tickets-2">Train tickets</a></li>
                                    <li><a href="book-ticket">Ticket details</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="javascript:void(0)">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="about">About</a></li>
                                    <li><a href="contact">Contact</a></li>
                                    <li><a href="privacy">Privacy</a></li>
                                    <li><a href="faq">FAQs</a></li>
                                    <li><a href="help-center">Help center</a></li>
                                    <li><a href="become-expert">Become Expert</a></li>
                                    <li><a href="comming-soon">Coming soon</a></li>
                                    <li><a href="checkout">Checkout</a></li>
                                    <li><a href="confirmation">Confirmationn</a></li>
                                    <li><a href="invoice">Invoice</a></li>
                                    <li><a href="term">Term</a></li>
                                    <li><a href="404-3">404</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="blog-grid">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-grid">Grid Full</a></li>
                                    <li><a href="blog-grid-2">Grid Sidebar</a></li>
                                    <li><a href="blog-grid-3">List</a></li>
                                    <li><a href="blog-detail">Blog Details</a></li>
                                    <li><a href="blog-detail-2">Blog Details 2</a></li>
                                </ul>
                            </li>
                            <li><a href="contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header-right">
                <div class="d-none d-xxl-inline-block box-dropdown-cart align-middle mr-15"><span
                        class="text-14-medium icon-list icon-account icon-lang"><span
                            class="text-14-medium arrow-down">EN</span></span>
                    <div class="dropdown-account">
                        <ul>
                            <li><a class="text-sm-medium" href="#">English</a></li>
                            <li><a class="text-sm-medium" href="#">French</a></li>
                            <li><a class="text-sm-medium" href="#">Chiness</a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-none d-xxl-inline-block box-dropdown-cart align-middle mr-15"><span
                        class="text-14-medium icon-list icon-cart"><span
                            class="text-14-medium arrow-down">USD</span></span>
                    <div class="dropdown-cart">
                        <ul>
                            <li><a class="text-sm-medium" href="#">USD</a></li>
                            <li><a class="text-sm-medium" href="#">EUR</a></li>
                            <li><a class="text-sm-medium" href="#">SGP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-none d-xxl-inline-block align-middle mr-15"><a class="btn btn-mode change-mode mr-15"
                        href="#" data-bs-theme-value="dark"> <img class="light-mode"
                            src="{% static 'site/imgs/template/icons/light.svg' %}" alt="Travila"><img
                            class="dark-mode" src="{% static 'site/imgs/template/icons/light-w.svg' %}"
                            alt="Travila"></a><a class="btn btn-default btn-signin" href="#">Signin</a></div>
                <div class="burger-icon-2 burger-icon-white"><img
                        src="{% static 'site/imgs/template/icons/menu.svg' %}" alt="Travila"></div>
                <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span
                        class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
            </div>
        </div>
    </div>
</header>