{% load static %}
<div class="sidebar-canvas-wrapper perfect-scrollbar button-bg-2">
    <div class="sidebar-canvas-container">
        <div class="sidebar-canvas-head">
            <div class="sidebar-canvas-logo"> <a class="d-flex" href="index.html"><img class="light-mode"
                        alt="Travila" src="{% static 'site/imgs/template/logo.svg' %}"><img class="dark-mode"
                        alt="Travila" src="{% static 'site/imgs/template/logo-w.svg' %}"></a></div>
            <div class="sidebar-canvas-lang">
                <div class="d-inline-block box-dropdown-cart align-middle mr-15"><span
                        class="text-14-medium icon-list icon-account icon-lang"><span
                            class="text-14-medium arrow-down">EN</span></span>
                    <div class="dropdown-account">
                        <ul>
                            <li><a class="text-sm-medium" href="#">English</a></li>
                            <li><a class="text-sm-medium" href="#">French</a></li>
                            <li><a class="text-sm-medium" href="#">Chiness</a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-inline-block box-dropdown-cart align-middle mr-15"><span
                        class="text-14-medium icon-list icon-cart"><span
                            class="text-14-medium arrow-down">USD</span></span>
                    <div class="dropdown-cart">
                        <ul>
                            <li><a class="text-sm-medium" href="#">USD</a></li>
                            <li><a class="text-sm-medium" href="#">EUR</a></li>
                            <li><a class="text-sm-medium" href="#">SGP</a></li>
                        </ul>
                    </div>
                </div><a class="close-canvas" href="#"> <img alt="Travila"
                        src="{% static 'site/imgs/template/icons/close.png' %}"></a>
            </div>
        </div>
        <div class="sidebar-canvas-content">
            <div class="box-author-profile">
                <div class="card-author">
                    <div class="card-image"> <img src="{% static 'site/imgs/page/homepage1/author2.png' %}"
                            alt="Travila"></div>
                    <div class="card-info">
                        <p class="text-md-bold neutral-1000">Alice Roses</p>
                        <p class="text-xs neutral-1000">London, England</p>
                    </div>
                </div><a class="btn btn-black" href="#">Logout</a>
            </div>
            <div class="box-quicklinks">
                <h6 class="title-quicklinks neutral-1000">Quick Links</h6>
                <div class="box-list-quicklinks">
                    <div class="item-quicklinks">
                        <div class="item-icon"> <img src="{% static 'site/imgs/template/icons/notify.svg' %}"
                                alt="Travila">
                        </div>
                        <div class="item-info"> <a href="#">
                                <h6 class="text-md-bold neutral-1000">Notifications</h6>
                            </a>
                            <p class="text-xs neutral-500 online">2 new messages</p>
                        </div>
                    </div>
                    <div class="item-quicklinks">
                        <div class="item-icon"> <img src="{% static 'site/imgs/template/icons/bookmark.svg' %}"
                                alt="Travila">
                        </div>
                        <div class="item-info"> <a href="#">
                                <h6 class="text-md-bold neutral-1000">Bookmark</h6>
                            </a>
                            <p class="text-xs neutral-500">7 tours, 2 rooms</p>
                        </div>
                    </div>
                    <div class="item-quicklinks">
                        <div class="item-icon"> <img src="{% static 'site/imgs/template/icons/wallet.svg' %}"
                                alt="Travila">
                        </div>
                        <div class="item-info"> <a href="#">
                                <h6 class="text-md-bold neutral-1000">My Wallet</h6>
                            </a>
                            <p class="text-xs neutral-500">$4500</p>
                        </div>
                    </div>
                    <div class="item-quicklinks">
                        <div class="item-icon"> <img src="{% static 'site/imgs/template/icons/discount.svg' %}"
                                alt="Travila">
                        </div>
                        <div class="item-info"> <a href="#">
                                <h6 class="text-md-bold neutral-1000">Discount</h6>
                            </a>
                            <p class="text-xs neutral-500">Only today</p>
                        </div>
                    </div>
                    <div class="item-quicklinks">
                        <div class="item-icon"> <img src="{% static 'site/imgs/template/icons/friends.svg' %}"
                                alt="Travila">
                        </div>
                        <div class="item-info"> <a href="#">
                                <h6 class="text-md-bold neutral-1000">Friends</h6>
                            </a>
                            <p class="text-xs neutral-500">Your team</p>
                        </div>
                    </div>
                    <div class="item-quicklinks">
                        <div class="item-icon"> <img src="{% static 'site/imgs/template/icons/tickets.svg' %}"
                                alt="Travila">
                        </div>
                        <div class="item-info"> <a href="#">
                                <h6 class="text-md-bold neutral-1000">Tickets</h6>
                            </a>
                            <p class="text-xs neutral-500 resolved">3 resolved tickets</p>
                        </div>
                    </div>
                    <div class="item-quicklinks">
                        <div class="item-icon"> <img src="{% static 'site/imgs/template/icons/settings.svg' %}"
                                alt="Travila">
                        </div>
                        <div class="item-info"> <a href="#">
                                <h6 class="text-md-bold neutral-1000">Setting</h6>
                            </a>
                            <p class="text-xs neutral-500">Your account</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-eventsdate">
                <h6 class="title-eventsdate neutral-1000">Event Dates</h6>
                <div class="box-calendar-events">
                    <div id="calendar-events"></div>
                </div>
            </div>
            <div class="box-savedplaces">
                <h6 class="title-savedplaces neutral-1000">Saved Places</h6>
                <div class="box-list-places">
                    <div class="card-place">
                        <div class="card-image"> <img src="{% static 'site/imgs/page/homepage1/place.png' %}"
                                alt="Travila">
                        </div>
                        <div class="card-info background-card">
                            <div class="card-info-top">
                                <h6 class="text-xl-bold"> <a class="neutral-1000" href="#">Machu Picchu</a></h6>
                                <p class="text-xs card-rate"> <img
                                        src="{% static 'site/imgs/template/icons/star.svg' %}" alt="Travila">4/5
                                </p>
                            </div>
                            <div class="card-info-bottom">
                                <p class="text-xs-medium neutral-500">Carved by the Colorado River in Arizona,
                                    United States</p><a href="#">
                                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                                            stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-place">
                        <div class="card-image"> <img src="{% static 'site/imgs/page/homepage1/place2.png' %}"
                                alt="Travila">
                        </div>
                        <div class="card-info background-card">
                            <div class="card-info-top">
                                <h6 class="text-xl-bold"> <a class="neutral-1000" href="#">Machu Picchu</a></h6>
                                <p class="text-xs card-rate"> <img
                                        src="{% static 'site/imgs/template/icons/star.svg' %}" alt="Travila">4/5
                                </p>
                            </div>
                            <div class="card-info-bottom">
                                <p class="text-xs-medium neutral-500">Carved by the Colorado River in Arizona,
                                    United States</p><a href="#">
                                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                                            stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-place">
                        <div class="card-image"> <img src="{% static 'site/imgs/page/homepage1/place3.png' %}"
                                alt="Travila">
                        </div>
                        <div class="card-info background-card">
                            <div class="card-info-top">
                                <h6 class="text-xl-bold"> <a class="neutral-1000" href="#">Machu Picchu</a></h6>
                                <p class="text-xs card-rate"> <img
                                        src="{% static 'site/imgs/template/icons/star.svg' %}" alt="Travila">4/5
                                </p>
                            </div>
                            <div class="card-info-bottom">
                                <p class="text-xs-medium neutral-500">Carved by the Colorado River in Arizona,
                                    United States</p><a href="#">
                                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                                            stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-contactus">
                <h6 class="title-contactus neutral-1000">Contact Us</h6>
                <div class="contact-info">
                    <p class="address-2 text-md-medium neutral-1000">4517 Washington Ave. <br>Manchester, Kentucky
                        39495</p>
                    <p class="hour-work-2 text-md-medium neutral-1000">Hours: 8:00 - 17:00, Mon - Sat</p>
                    <p class="email-2 text-md-medium neutral-1000">support@travila.com</p>
                </div>
            </div>
        </div>
    </div>
</div>