{% load static %}

<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar button-bg-2">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-logo"> <a class="d-flex" href="index.html"><img class="light-mode" alt="Travila"
                    src="{% static 'site/imgs/template/logo.svg' %}"><img class="dark-mode" alt="Travila"
                    src="{% static 'site/imgs/template/logo-w.svg' %}"></a>
            <div class="burger-icon burger-icon-white"></div>
        </div>
        <div class="mobile-header-top">
            <div class="box-author-profile">
                <div class="card-author">
                    <div class="card-image"> <img src="{% static 'site/imgs/page/homepage1/author2.png' %}"
                            alt="Travila"></div>
                    <div class="card-info">
                        <p class="text-md-bold neutral-1000">Alice Roses</p>
                        <p class="text-xs neutral-1000">London, England</p>
                    </div>
                </div><a class="btn btn-black" href="#">Logout</a>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="perfect-scroll">
                <div class="mobile-menu-wrap mobile-header-border">
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li class="has-children"><a class="active" href="index.html">Home Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">Home 1 - All services</a></li>
                                    <li><a href="index-2">Home 2 - All services</a></li>
                                    <li><a href="index-3">Home 3 - All services</a></li>
                                    <li><a href="index-4">Home 4 - All services</a></li>
                                    <li><a href="index-5">Home 5 - Tours</a></li>
                                    <li><a href="index-6">Home 6 - Activities</a></li>
                                    <li><a href="index-7">Home 7 - Destinations</a></li>
                                    <li><a href="index-8">Home 8 - Hotels</a></li>
                                    <li><a href="index-9">Home 9 - Rental Car</a></li>
                                    <li><a href="index-10">Home 10 - Rental Property</a></li>
                                    <li><a href="404-4">Home 11 - Tickets</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="tour-grid">Tours</a>
                                <ul class="sub-menu">
                                    <li><a href="tour-grid-3">Tours List - Top Fillter</a></li>
                                    <li><a href="tour-grid">Tours List - Sidebar Left Fillter</a></li>
                                    <li><a href="tour-grid-2">Tours List - Sidebar Right Fillter</a></li>
                                    <li><a href="tour-list">Tours List 1</a></li>
                                    <li><a href="tour-list-2">Tours List 2</a></li>
                                    <li><a href="tour-detail">Tour Single 01 - Gallery</a></li>
                                    <li><a href="tour-detail-2">Tour Single 02 - Slideshow</a></li>
                                    <li><a href="tour-detail-3">Tour Single 03 - Video</a></li>
                                    <li><a href="tour-detail-4">Tour Single 04 - Image</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="destination">Destinations</a>
                                <ul class="sub-menu">
                                    <li><a href="destination">Destinations list 1</a></li>
                                    <li><a href="destination-2">Destinations list 2</a></li>
                                    <li><a href="destination-3">Destinations list 3</a></li>
                                    <li><a href="destination-4">Destinations Details 01</a></li>
                                    <li><a href="destination-5">Destinations Details 02</a></li>
                                    <li><a href="destination-6">Destinations Details 03</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="activities">Activities</a>
                                <ul class="sub-menu">
                                    <li><a href="activities">Activities List - Top Fillter</a></li>
                                    <li><a href="activities-2">Activities List - Sidebar Left Fillter</a></li>
                                    <li><a href="activities-3">Activities List - Sidebar Right Fillter</a></li>
                                    <li><a href="activities-4">Activities List - Grid</a></li>
                                    <li><a href="activities-5">Activities List - List</a></li>
                                    <li><a href="activities-detail">Activities Single 01 - Gallery</a></li>
                                    <li><a href="activities-detail-2">Activities Single 02 - Slideshow</a></li>
                                    <li><a href="activities-detail-3">Activities Single 03</a></li>
                                    <li><a href="activities-detail-4">Activities Single 04</a></li>
                                </ul>
                            </li>
                            <li class="has-children"> <a href="hotel-grid">Hotels</a>
                                <ul class="sub-menu">
                                    <li><a href="hotel-grid">Hotel List 01</a></li>
                                    <li><a href="hotel-grid-2">Hotel List 02</a></li>
                                    <li><a href="hotel-grid-3">Hotel List 03</a></li>
                                    <li><a href="hotel-grid-4">Hotel List 04</a></li>
                                    <li><a href="hotel-grid-5">Hotel List 05</a></li>
                                    <li><a href="hotel-grid-6">Hotel List 06</a></li>
                                    <li><a href="hotel-detail">Hotel Details 01</a></li>
                                    <li><a href="hotel-detail-2">Hotel Details 02</a></li>
                                </ul>
                            </li>
                            <li class="has-children"> <a href="rental-car">Rental</a>
                                <ul class="sub-menu">
                                    <li><a href="rental-car">Car Grid</a></li>
                                    <li><a href="rental-car-2">Car list</a></li>
                                    <li><a href="rental-car-3">Car Details</a></li>
                                    <li><a href="404-5">Property Grid</a></li>
                                    <li><a href="404-6">Property Grid</a></li>
                                    <li><a href="404-7">Property List</a></li>
                                    <li><a href="rental-detail">Property Details</a></li>
                                </ul>
                            </li>
                            <li class="has-children"> <a href="tickets">Tickets</a>
                                <ul class="sub-menu">
                                    <li><a href="tickets">Flight tickets</a></li>
                                    <li><a href="tickets-2">Train tickets</a></li>
                                    <li><a href="book-ticket">Ticket details</a></li>
                                </ul>
                            </li>
                            <li class="has-children"> <a href="javascript:void(0)">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="about">About</a></li>
                                    <li><a href="contact">Contact</a></li>
                                    <li><a href="faq">FAQs</a></li>
                                    <li><a href="help-center">Help center</a></li>
                                    <li><a href="become-expert">Become Expert</a></li>
                                    <li><a href="comming-soon">Coming soon </a></li>
                                    <li><a href="checkout">Checkout</a></li>
                                    <li><a href="confirmation">Confirmationn</a></li>
                                    <li><a href="invoice">Invoice</a></li>
                                    <li><a href="term">Term</a></li>
                                    <li><a href="404-3">404</a></li>
                                </ul>
                            </li>
                            <li class="has-children"> <a href="blog-grid">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-grid">Grid Full</a></li>
                                    <li><a href="blog-grid-2">Grid Sidebar</a></li>
                                    <li><a href="blog-grid-3">List</a></li>
                                    <li><a href="blog-detail">Blog Details</a></li>
                                    <li><a href="blog-detail-2">Blog Details 2</a></li>
                                </ul>
                            </li>
                            <li><a href="contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar-canvas-wrapper perfect-scrollbar button-bg-2">
    <div class="sidebar-canvas-container">
        <div class="sidebar-canvas-head">
            <div class="sidebar-canvas-logo"> <a class="d-flex" href="index.html"><img class="light-mode"
                        alt="Travila" src="{% static 'site/imgs/template/logo.svg' %}"><img class="dark-mode"
                        alt="Travila" src="{% static 'site/imgs/template/logo-w.svg' %}"></a></div>
            <div class="sidebar-canvas-lang">
                <div class="d-inline-block box-dropdown-cart align-middle mr-15"><span
                        class="text-14-medium icon-list icon-account icon-lang"><span
                            class="text-14-medium arrow-down">EN</span></span>
                    <div class="dropdown-account">
                        <ul>
                            <li><a class="text-sm-medium" href="#">English</a></li>
                            <li><a class="text-sm-medium" href="#">French</a></li>
                            <li><a class="text-sm-medium" href="#">Chiness</a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-inline-block box-dropdown-cart align-middle mr-15"><span
                        class="text-14-medium icon-list icon-cart"><span
                            class="text-14-medium arrow-down">USD</span></span>
                    <div class="dropdown-cart">
                        <ul>
                            <li><a class="text-sm-medium" href="#">USD</a></li>
                            <li><a class="text-sm-medium" href="#">EUR</a></li>
                            <li><a class="text-sm-medium" href="#">SGP</a></li>
                        </ul>
                    </div>
                </div><a class="close-canvas" href="#"> <img alt="Travila"
                        src="{% static 'site/imgs/template/icons/close.png' %}"></a>
            </div>
        </div>
        <div class="sidebar-canvas-content">
            <div class="box-author-profile">
                <div class="card-author">
                    <div class="card-image"> <img src="{% static 'site/imgs/page/homepage1/author2.png' %}"
                            alt="Travila"></div>
                    <div class="card-info">
                        <p class="text-md-bold neutral-1000">Alice Roses</p>
                        <p class="text-xs neutral-1000">London, England</p>
                    </div>
                </div><a class="btn btn-black" href="#">Logout</a>
            </div>
            <div class="box-quicklinks">
                <h6 class="title-quicklinks neutral-1000">Quick Links</h6>
                <div class="box-list-quicklinks">
                    <div class="item-quicklinks">
                        <div class="item-icon"> <img src="{% static 'site/imgs/template/icons/notify.svg' %}"
                                alt="Travila">
                        </div>
                        <div class="item-info"> <a href="#">
                                <h6 class="text-md-bold neutral-1000">Notifications</h6>
                            </a>
                            <p class="text-xs neutral-500 online">2 new messages</p>
                        </div>
                    </div>
                    <div class="item-quicklinks">
                        <div class="item-icon"> <img src="{% static 'site/imgs/template/icons/bookmark.svg' %}"
                                alt="Travila">
                        </div>
                        <div class="item-info"> <a href="#">
                                <h6 class="text-md-bold neutral-1000">Bookmark</h6>
                            </a>
                            <p class="text-xs neutral-500">7 tours, 2 rooms</p>
                        </div>
                    </div>
                    <div class="item-quicklinks">
                        <div class="item-icon"> <img src="{% static 'site/imgs/template/icons/wallet.svg' %}"
                                alt="Travila">
                        </div>
                        <div class="item-info"> <a href="#">
                                <h6 class="text-md-bold neutral-1000">My Wallet</h6>
                            </a>
                            <p class="text-xs neutral-500">$4500</p>
                        </div>
                    </div>
                    <div class="item-quicklinks">
                        <div class="item-icon"> <img src="{% static 'site/imgs/template/icons/discount.svg' %}"
                                alt="Travila">
                        </div>
                        <div class="item-info"> <a href="#">
                                <h6 class="text-md-bold neutral-1000">Discount</h6>
                            </a>
                            <p class="text-xs neutral-500">Only today</p>
                        </div>
                    </div>
                    <div class="item-quicklinks">
                        <div class="item-icon"> <img src="{% static 'site/imgs/template/icons/friends.svg' %}"
                                alt="Travila">
                        </div>
                        <div class="item-info"> <a href="#">
                                <h6 class="text-md-bold neutral-1000">Friends</h6>
                            </a>
                            <p class="text-xs neutral-500">Your team</p>
                        </div>
                    </div>
                    <div class="item-quicklinks">
                        <div class="item-icon"> <img src="{% static 'site/imgs/template/icons/tickets.svg' %}"
                                alt="Travila">
                        </div>
                        <div class="item-info"> <a href="#">
                                <h6 class="text-md-bold neutral-1000">Tickets</h6>
                            </a>
                            <p class="text-xs neutral-500 resolved">3 resolved tickets</p>
                        </div>
                    </div>
                    <div class="item-quicklinks">
                        <div class="item-icon"> <img src="{% static 'site/imgs/template/icons/settings.svg' %}"
                                alt="Travila">
                        </div>
                        <div class="item-info"> <a href="#">
                                <h6 class="text-md-bold neutral-1000">Setting</h6>
                            </a>
                            <p class="text-xs neutral-500">Your account</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-eventsdate">
                <h6 class="title-eventsdate neutral-1000">Event Dates</h6>
                <div class="box-calendar-events">
                    <div id="calendar-events"></div>
                </div>
            </div>
            <div class="box-savedplaces">
                <h6 class="title-savedplaces neutral-1000">Saved Places</h6>
                <div class="box-list-places">
                    <div class="card-place">
                        <div class="card-image"> <img src="{% static 'site/imgs/page/homepage1/place.png' %}"
                                alt="Travila">
                        </div>
                        <div class="card-info background-card">
                            <div class="card-info-top">
                                <h6 class="text-xl-bold"> <a class="neutral-1000" href="#">Machu Picchu</a></h6>
                                <p class="text-xs card-rate"> <img
                                        src="{% static 'site/imgs/template/icons/star.svg' %}" alt="Travila">4/5
                                </p>
                            </div>
                            <div class="card-info-bottom">
                                <p class="text-xs-medium neutral-500">Carved by the Colorado River in Arizona,
                                    United States</p><a href="#">
                                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                                            stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-place">
                        <div class="card-image"> <img src="{% static 'site/imgs/page/homepage1/place2.png' %}"
                                alt="Travila">
                        </div>
                        <div class="card-info background-card">
                            <div class="card-info-top">
                                <h6 class="text-xl-bold"> <a class="neutral-1000" href="#">Machu Picchu</a></h6>
                                <p class="text-xs card-rate"> <img
                                        src="{% static 'site/imgs/template/icons/star.svg' %}" alt="Travila">4/5
                                </p>
                            </div>
                            <div class="card-info-bottom">
                                <p class="text-xs-medium neutral-500">Carved by the Colorado River in Arizona,
                                    United States</p><a href="#">
                                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                                            stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-place">
                        <div class="card-image"> <img src="{% static 'site/imgs/page/homepage1/place3.png' %}"
                                alt="Travila">
                        </div>
                        <div class="card-info background-card">
                            <div class="card-info-top">
                                <h6 class="text-xl-bold"> <a class="neutral-1000" href="#">Machu Picchu</a></h6>
                                <p class="text-xs card-rate"> <img
                                        src="{% static 'site/imgs/template/icons/star.svg' %}" alt="Travila">4/5
                                </p>
                            </div>
                            <div class="card-info-bottom">
                                <p class="text-xs-medium neutral-500">Carved by the Colorado River in Arizona,
                                    United States</p><a href="#">
                                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                                            stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-contactus">
                <h6 class="title-contactus neutral-1000">Contact Us</h6>
                <div class="contact-info">
                    <p class="address-2 text-md-medium neutral-1000">4517 Washington Ave. <br>Manchester, Kentucky
                        39495</p>
                    <p class="hour-work-2 text-md-medium neutral-1000">Hours: 8:00 - 17:00, Mon - Sat</p>
                    <p class="email-2 text-md-medium neutral-1000">support@travila.com</p>
                </div>
            </div>
        </div>
    </div>
</div>