{% load static %}

<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar button-bg-2">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-logo"> <a class="d-flex" href="index.html"><img class="light-mode" alt="Travila"
                    src="{% static 'site/imgs/template/logo.svg' %}"><img class="dark-mode" alt="Travila"
                    src="{% static 'site/imgs/template/logo-w.svg' %}"></a>
            <div class="burger-icon burger-icon-white"></div>
        </div>
        <div class="mobile-header-top">
            <div class="box-author-profile">
                <div class="card-author">
                    <div class="card-image"> <img src="{% static 'site/imgs/page/homepage1/author2.png' %}"
                            alt="Travila"></div>
                    <div class="card-info">
                        <p class="text-md-bold neutral-1000">Alice Roses</p>
                        <p class="text-xs neutral-1000">London, England</p>
                    </div>
                </div><a class="btn btn-black" href="#">Logout</a>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="perfect-scroll">
                <div class="mobile-menu-wrap mobile-header-border">
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li><a class="active" href="{% url 'home_page' %}">Home</a>
                            </li>
                            <li class="has-children"><a href="tour-grid">Event</a>
                                <ul class="sub-menu">
                                    <li><a href="tour-grid-3">Special Event</a></li>
                                    <li><a href="tour-grid">Event </a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="#">Accommodation</a>
                                <ul class="sub-menu">
                                    <li><a href="destination">Hotels</a></li>
                                    <li><a href="destination-2">VIP Pack</a></li>
                                    <li><a href="destination-3">Tent Pack</a></li>
                                    <li><p><b>Rental Property</b></p></li>
                                    <li><a href="destination-4">Rental Property</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="activities">Activities</a>
                                <ul class="sub-menu">
                                    <li><a href="activities">Activities List - Top Fillter</a></li>
                                    <li><a href="activities-2">Activities List - Sidebar Left Fillter</a></li>
                                    <li><a href="activities-3">Activities List - Sidebar Right Fillter</a></li>
                                    <li><a href="activities-4">Activities List - Grid</a></li>
                                    <li><a href="activities-5">Activities List - List</a></li>
                                    <li><a href="activities-detail">Activities Single 01 - Gallery</a></li>
                                    <li><a href="activities-detail-2">Activities Single 02 - Slideshow</a></li>
                                    <li><a href="activities-detail-3">Activities Single 03</a></li>
                                    <li><a href="activities-detail-4">Activities Single 04</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="#">Travel</a>
                                <ul class="sub-menu">
                                    <li> <a href="#">South Korea</a></li>
                                    <li> <a href="#">China</a></li>
                                    <li> <a href="#">Malaysia</a></li>
                                    <li> <a href="#">Indonesia</a></li>
                                    <li> <a href="#">Trukey</a></li>
                                    <li> <a href="#">Egypt</a></li>
                                    <li> <a href="#">Morocco</a></li>
                                    
                                </ul>
                            </li>
                            <li><a href="#">Cars Rental</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="{% url 'about_page' %}">About Us</a></li>
                            <li><a href="contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--mobile canva-->
{% include 'site/partials/mobile_canva.html' %}